---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Achtergrond</div>
                <div class="intro-heading"><a class='page-scroll' href='#levensloop'>Jeroen</a>, <a class='page-scroll' href='#dialyse'>Dialyse</a>, <a class='page-scroll' href='#behandelingvragen'>de behandeling</a> en <a class='page-scroll' href='#stichting'>de Stichting</a></div>
            </div>
        </div>
    </header>

    <!-- Jeroen Section -->
    <section id="levensloop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jeroen</h2>
                    <h3 class="section-subheading text-muted">
                        Een kort overzicht vanaf zijn geboorte tot nu.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                        <span class='text-primary'>29-03-1987</span><br />
                        Geboortje Jeroen. Na onderzoek blijkt Jeroen vergroeide urinewegen te hebben.<br />
                        Hierdoor is één nier helemaal onbruikbaar, de nierfunctie van de andere nier loopt steeds verder af. 
                    </p>
                    <p>
                        <span class='text-primary'>2005</span><br />
                        De nierfunctie is zo slecht dat een transplantatie nodig is. Jeroen krijgt een nier van zijn vader. Deze transplantatie is succesvol.
                    </p> 
                    <p>
                        <span class='text-primary'>2009</span><br />
                        Na 4 jaar stoot de nier van Jeroen's vader helaas af.<br />
                        Om afvalstoffen uit zijn lichaam te filteren, moet Jeroen beginnen met <a href='https://www.nierstichting.nl/leven-met-een-nierziekte/dialyse/#peritoneaaldialyse'>buikdialyse</a>.<br />
                        Dialyse is een 'levensverlengende behandeling' waarbij geen sprake is van genezing of een normale filtering van afval- en gifstoffen zoals een nier dat doet.  Bij buikdialyse wordt de functie van de nier slechts 5% - 10% overgenomen.
                    </p>
                    <p>
                        <span class='text-primary'>2011</span><br />
                        Een nieuwe niertransplantie is mogelijk. Jeroen krijgt een nier van zijn opa. 
                    </p>
                    <p>
                        <span class='text-primary'>2013</span><br />
                        Na 2 jaar stoot de nier van Jeroen's opa af. Opnieuw is het nodig om <a href='https://www.nierstichting.nl/leven-met-een-nierziekte/dialyse/#peritoneaaldialyse'>buikdialyse</a> toe te passen. 
                    </p>
                    <p>
                        <span class='text-primary'>2014</span><br />
                        Jeroen krijgt opnieuw een nier, ditmaal van zijn zus. Deze nier wordt echter direct afgestoten. Inmiddels blijkt Jeroen 100% antistoffen te hebben opgebouwd tegen alle mogelijke donornieren.
                    </p>
                    <p>
                        <span class='text-primary'>2014 - heden</span><br />
                        Driemaal per week moet Jeroen 4 uur dialyseren in het ziekenhuis middels <a href='https://www.nierstichting.nl/leven-met-een-nierziekte/dialyse/#hemodialyse'>hemodialyse</a>; en daarna de verdere dag bijkomen van deze intensieve behandeling.<br />
                        Dit betekent dat Jeroen 3 van de 7 dagen per week bezig is met het actieve dialyseren of het bijkomen er van. De overige dagen is hij moe, en veroudert zijn lichaam snel. hemodialyse zorgt voor een vervangende nierfunctie van ongeveer 10% - 15%. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Dialyse Section -->
    <section id="dialyse" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dialyse</h2>
                    <h3 class="section-subheading text-muted">
                        Wat is dialyse? Wat zijn de overlevingskansen?
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                        De nieren hebben als functie om gif- en afvalstoffen uit het lichaam te filteren. Dat gebeurt als bloed door de nier stroomt. In de nier is een filter aanwezig waar de gif- en afvalstoffen doorheen kunnen, en afgescheiden kunnen worden. De gezonde stoffen gaan niet door het filter en blijven in het bloed.
                    </p>
                    <p>
                        Tijdens dialyse wordt er in plaats van de nier een ander 'filter' gebruikt om afvalstoffen uit te scheiden. De twee meest gebruikte methoden zijn <a href='https://www.nierstichting.nl/leven-met-een-nierziekte/dialyse/#peritoneaaldialyse'>buikdialyse</a> en <a href='https://www.nierstichting.nl/leven-met-een-nierziekte/dialyse/#hemodialyse'>hemodialyse</a>.
                    </p>
                    <p>
                        Bij buikdialyse wordt spoelvloeistof in de buikholte ingebracht; het buikvlies wordt vervolgens als 'filter' gebruikt. Afvalstoffen kunnen door het buikvlies en worden afgevoerd, maar gezonde stoffen blijven in het lichaam. Toch worden lang niet alle gif- en afvalstoffen afgevoerd. Slechts 5% - 10% verdwijnt, en dus minimaal 90% van de gif- en afvalstoffen blijft in het lichaam achter!
                    </p>
                    <p>
                        Hemodialyse gebeurt in het ziekenhuis aan een groter apparaat. In dat apparaat zicht een 'kunstnier'. Vanuit je nek of arm wordt een slagader afgetapt en wordt bloed het apparaat ingepompt. Daar worden vervolgens de gif- en afvalstoffen afgevoerd. Bij Hemodialyse is een betere filtering mogelijk dan bij buikdialyse. Er kan 10% - 15% gefilterd worden. Effectief blijven er dus minimaal 85% van de afvalstoffen in het lichaam achter. Ook is hemodialyse lichamelijk erg zwaar omdat er grote schommelingen in bloedwaarden en vochtgehalte kunnen optreden. Daarom is Jeroen na dialyse erg moe en heeft hij vaak een ziek gevoel doordat er snel veel vocht uit het lichaam wordt gehaald. Uiteindelijk zal Jeroen ook schade aan hart en bloedvaten krijgen.
                    </p>
                    <p>
                        Zoals gezegd: Dialyse is een 'levensverlengende behandeling' waarbij geen sprake is van genezing of een normale filtering.<br />
                        <strong>Bijna de helft van de dialyserende nierpatiënten van 15 - 45 jaar oud (zoals Jeroen) overlijdt binnen 10 jaar nadat zij moeten starten met dialyseren...</strong>
                    </p>
                    <p>
                        Meer informatie is te vinden op <a href='https://www.nierstichting.nl/media/filer_public/b2/52/b252b6bc-5ed0-4b98-bb48-6444be5e4e73/factsheet_8_dialyse.pdf'>deze feitenpagina van de Nierstichting</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Behandeling vragen Section -->
    <section id="behandelingvragen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Veelgestelde vragen</h2>
                    <h3 class="section-subheading text-muted">
                        Over de behandeling
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                        <span class='text-primary'>Wat houdt de behandeling voor Jeroen in?</span><br />
                        De transplantatie van de nier is hetzelfde als bij een reguliere niertransplantatie. De bijzonderheid zit in de behandeling vooraf en achteraf. Voorafgaand aan de transplantatie vindt desenbilisatie plaats. Dit zijn behandelingen waarbij antistoffen uit het bloed worden gefilterd. Na de transplantatie is in de meeste gevallen behandeling met medicijnen nodig om afstoting van de nier te voorkomen. Dit middel heet eculizumab. De kosten van de transplantatie op zich worden vergoed, de kosten van desenbilisatie en eculizumab niet. Die zijn geraamd op ca € 180.000.
                    </p>
                    <p>
                        <span class='text-primary'>Waar en door wie wordt de behandeling uitgevoerd?</span><br />
                        De behandeling gaat uit van het Erasmus MC in Rotterdam.  De behandelend arts is dezelfde als waar Jeroen tot nu toe onder behandeling is. Dat vinden we fijn omdat de geschiedenis van Jeroen zo goed bekend is.
                    </p>
                    <p>
                        <span class='text-primary'>Wanneer gaat de behandeling plaatsvinden?</span><br />
                        Dat is nog niet bekend en is mede afhankelijk van de financiële situatie en de behandelend arts.
                    </p>
                    <p>
                        <span class='text-primary'>Wat gebeurt er als er geld overblijft of als de transplantatie niet door kan gaan?</span><br />
                        Dan wordt dat geld aangewend voor een doelstelling die in het verlengde ligt van wat we voor Jeroen beogen. In de statuten van de “Stichting een nier voor Jeroen”, die notarieel zijn vastgelegd, is het volgende omschreven bij ontbinding en vereffening van de Stichting:
                    </p>
                    <blockquote>
                        <p>
                            Een eventueel batig liquidatiesaldo van de ontbonden stichting moet worden besteed ten behoeve van een algemeen nut beogende instelling met een soortgelijke doelstelling of ten behoeve van een buitenlandse instelling die uitsluitend of nagenoeg uitsluitend het algemeen nut beoogt en die een soortgelijke doelstelling heeft.
                        </p>
                    </blockquote>
                    <p>
                        De volledige statuten zijn <a target='_blank' href='/downloads/Statuten stichting.pdf'>hier te downloaden</a>!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Stichting Section -->
    <section id="stichting" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stichting</h2>
                    <h3 class="section-subheading text-muted">
                        Uit welke personen bestaat de Stichting? Wat zijn de statuten?
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                        <span class='text-primary'>Uit welke personen bestaat de stichting?</span><br />
                        De actie wordt geleid door een comité van acht personen dat bestaat uit familie, vrienden en bekenden. Vanuit dit comité vormen drie personen het bestuur van de Stichting wat is vastgelegd in de notariële akte. Dit zijn Daan Vermeulen, Dick van Dijk en Piet Nobel. 
                    </p>
                    <p>
                        <span class='text-primary'>Wie zijn de eerste contactpersonen van de stichting?</span><br />
                        Contact rondom acties, pers en de digitale kanalen zoals de website verlopen via Nienke Baaij-Schipper en Willem Mulder. Zie ook de <a href='/contact'>contactpagina</a>. 
                    </p>
                    <p>
                        <span class='text-primary'>Wat zijn de doelen en statuten van de stichting?</span><br />
                        De stichting heeft samengevat als enig doel om Jeroen een nieuwe nier te geven. Zoals hierboven vermeld gaat geld dat 'over' is naar soortgelijke situaties en/of organisaties. De volledige statuten zijn <a target='_blank' href='/downloads/Statuten stichting.pdf'>hier te downloaden</a>!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Overtuigd Section -->
    <section id="overtuigd">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overtuigd?</h2>
                    <h3 class="section-subheading text-muted">
                        Dan is dit het punt waarop we uw hulp vragen. 
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                         We vragen u om iets van uw inkomsten te doneren. De Stichting Een nier voor Jeroen zal toezien op de inzameling van het bedrag en de verdere afwikkeling om het geld voor de behandeling te gebruiken.
                    </p>
                    <p class="text-primary">
                        We willen u dringend vragen deze oproep niet naast u neer te leggen, maar nu te helpen.<br /> U geeft er daadwerkelijk Jeroen, Corma en Mirre een nieuw leven door!
                    </p>
                    <p>
                        Als u besloten hebt te helpen
                    </p>
                    <p>
                        <a href="/helpen#doneren" class="btn btn-xl">klik dan hier om te doneren</a>
                    </p>
                    <p>
                        of als u ons op een andere manier wilt helpen
                    </p>
                    <p>
                        <a href="/helpen" class="btn btn-xl">kijk dan hier hoe</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
