---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Acties</div>
                <div class="intro-heading">Voor Jeroen</div>
            </div>
        </div>
    </header>

    <!-- Acties Section -->
    <section id="acties">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lopende acties</h2>
                    <h3 class="section-subheading text-muted">Houd deze pagina of  <a href="https://www.facebook.com/niervoorjeroen.nl/events" target="_blank">facebook</a> in de gaten voor nieuwe acties!</h3>
                </div>
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/statiegeld.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 juni – 10 juli</h4>
                                    <h4 class="subheading">Lege flessenactie</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Moet u van uw lege flessen af? Bij de ingang van de Koningin Julianaschool ('s-Gravenpolder) staat een doos, waar lege flessen worden ingezameld. De doos blijft t/m 19 juli staan. We hopen op veel lege flessen!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/eierverkoop.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4 - 16 juli</h4>
                                    <h4 class="subheading">Eierverkoop</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ga je een cake bakken? Zin in een omeletje? In de eierkar aan de Bosseweg in 's Heer Abtskerke vindt u overheerlijke kakelverse eieren! Van maandag 4 juli t/m zaterdag 16 juli zal 75% van de opbrengsten naar de stichting gaan!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/knippen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4 - 8 juli</h4>
                                    <h4 class="subheading">T Knipuus 's Gravenpolder knipt voor Jeroen!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wil je je een nieuw kapsel aanmeten? Of heb je een bijknipbeurtje nodig? Van maandag 4 juli t/m vrijdag 8 juli word de gehele omzet gedoneerd aan de stichting Een nier voor Jeroen! Een afspraak maken kan via de normale weg. Tel: <span style='display:none;'>078</span>06-<span style='display:none;'>44</span>137<span style='display:none;'>12</span>4848<span style='display:none;'>88</span>8</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/dinerenvoorjeroen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 juli
                                    <h4 class="subheading">Dineren bij Restaurant Katseveer! Enkel nog plaatsen voor de lunch!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Donderdag 7 juli organiseert Restaurant Katseveer een diner waarbij de volledige omzet van de dag bestemd is voor Jeroen van Setten. Een all-in 4-gangen menu voor €100,- p/p. Dit menu kunt u uiteraard nog uitbreiden! De plaatsen voor de avondmaaltijd zijn volgeboekt. U kunt voor deze dag enkel nog voor de lunch reserveren</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/Pelgrim.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 juli – tot bedrag binnen is</h4>
                                    <h4 class="subheading">Koffie en iets lekkers eten bij Pelgrim Boeken en Muziek Goes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">U kunt in Pelgrim Tweedehands genieten van een vers kopje koffie, thee of iets anders met daarbij, door een teamlid gebakken, vers gebak. Het volledige bedrag gaat naar de stichting ‘een nier voor Jeroen’.
                                    Helpt u mee door even iets te drinken? Adres; Wijngaardstraat 10 Goes. 0113-820239 / 0113-233542.</p>
                                    <p>
                                        <a href="https://www.facebook.com/events/1052881348124202/">Meer info...</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/oudepoer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12 en 21 juli om 19:15</h4>
                                    <h4 class="subheading">Workshop oude poer maken</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Op zoek naar een mooie decoratie voor in je huis? Die kan je natuurlijk ook gewoon zelf maken! Op 12 én 21 juniworden er workshops oude poer maken georganiseerd. Wat dat is? Zie de afbeelding voor een voorbeeld!
Kosten: €20,- pp.
Aanvang: 19:15
Plaats: Stavenisse, Prins Bernhardstraat 51
Aanmelden kan t/m 5 juli via tel. 0<span style='display:none;'>07</span>16<span style='display:none;'>34</span>6-610<span style='display:none;'>111</span>439 / <span style='display:none;'>06</span>0166-692<span style='display:none;'>55</span>548 of via Facebook.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/barbecue.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15 juli</h4>
                                    <h4 class="subheading">Lekker bbq'en!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vrijdag 15 juli gaan we lekker barbecueën tbv Een nier voor Jeroen! De barbecue vindt plaats op het terrein bij de TuinKamer/Dier en Verblijf Van der Poel in Kruiningen.

Inloop 18:30, aanvang 19:00 uur.
Kosten voor een volledig verzorgde barbecue incl. 3 consumpties:
€18,50 per volwassene.
€9,50 per kind 3 t/m 12 jaar.
Graag deze avond gepast contant betalen!

Ook aan de kids wordt gedacht: er is een leuke kinderhoek aanwezig!

Aanmelden kan tot dinsdag 12 juli, via Whatsapp <span style='display:none;'>077</span><span>06</span><span style='display:none;'>789</span>10149629 of <span style='display:none;'>300</span>06232<span style='display:none;'>44</span>12279.

Adres: Weihoek 16 - Kruiningen</p>
                                </div>
                            </div>
                        </li>                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/fietsenvoorjeroen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>16 juli</h4>
                                    <h4 class="subheading">Fietsen voor Jeroen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FIETSGROEP DE 'S-GRAVOTRAPPERS PRESENTEERT: FIETSEN VOOR JEROEN! Zijn jullie net als wij enthousiast geworden om een klein steentje bij te dragen aan het mogelijk maken van de operatie van Jeroen? Geef je dan nu op voor de tocht van bijna 140 km ‘Fietsen voor Jeroen’ op D.V. 16 juli 2016!! Aanmelden via fietsenvoorjeroen@hotmail.com en maak vrienden, familie en bekenden ook enthousiast om mee te doen.</p>
                                    <p>
                                        <a href="https://www.facebook.com/events/1722389611342844/">Meer info...</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/Zomerfair.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23 juli</h4>
                                    <h4 class="subheading">Zomerfair</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Zaterdag 23 juli vindt er een zomerfair plaats! De zomerfair zal worden gehouden op het bedrijventerrein van Keukenplus, Spoorstraat 18C, 's-Gravenpolder. We maken binnenkort standhouders en samenwerkingen bekend! Opbrengst 100% voor Een nier voor Jeroen.
                                    </p>
                                    <p>
                                        <a href="/zomerfair">Meer info</a> of <a href="https://www.facebook.com/events/872311909568415/">Facebook</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Direct doneren Section -->
    <section id="directdoneren" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">U kunt ook direct doneren</h2>
                     <h3 class="section-subheading text-muted">of op een andere manier helpen</h3>
                    <a href="/helpen" class="btn btn-xl">Doneer nu</a>
                </div>
            </div>
        </div>
    </section>

     <!-- Facebook Section -->
    <section id="facebook">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Facebook</h2>
                    <h3 class="section-subheading text-muted">Al onze acties staan ook op <a href="https://www.facebook.com/niervoorjeroen.nl/events" target="_blank">facebook</a></h3>
                </div>
            </div>
        </div>
    </section>
    

    {% include footer.html %}

</body>

</html>
