---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Acties</div>
                <div class="intro-heading">Voor Jeroen</div>
            </div>
        </div>
    </header>

    <!-- Acties Section -->
    <section id="acties">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acties</h2>
                    <h3 class="section-subheading text-muted">Er zijn diverse acties gaande</h3>
                </div>
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/fietsenvoorjeroen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 juni – 10 juli</h4>
                                    <h4 class="subheading">Lege flessenactie</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Moet u van uw lege flessen af? Bij de ingang van de Koningin Julianaschool ('s-Gravenpolder) staat een doos, waar lege flessen worden ingezameld. De doos blijft t/m 19 juli staan. We hopen op veel lege flessen!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4 - 16 juli</h4>
                                    <h4 class="subheading">Eierverkoop</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ga je een cake bakken? Zin in een omeletje? In de eierkar aan de Bosseweg in 's Heer Abtskerke vindt u overheerlijke kakelverse eieren! Van maandag 7 juli t/m zaterdag 16 juli zal 75% van de opbrengsten naar de stichting gaan!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4 - 8 juli</h4>
                                    <h4 class="subheading">T Knipuus 's Gravenpolder knipt voor Jeroen!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wil je je een nieuw kapsel aanmeten? Of heb je een bijknipbeurtje nodig? Van maandag 4 juli t/m vrijdag 8 juli word de gehele omzet gedoneerd aan de stichting Een nier voor Jeroen! Een afspraak maken kan via de normale weg. Tel: 06-13748488</p>
                                </div>
                            </div>
                        </li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/dinerenvoorjeroen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 juli
                                    <h4 class="subheading">Dineren bij Restaurant Katseveer! Enkel nog plaatsen voor de lunch!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Donderdag 7 juli organiseert Restaurant Katseveer een diner waarbij de volledige omzet van de dag bestemd is voor Jeroen van Setten. Een all-in 4-gangen menu voor €100,- p/p. Dit menu kunt u uiteraard nog uitbreiden! De plaatsen voor de avondmaaltijd zijn volgeboekt. U kunt voor deze dag enkel nog voor de lunch reserveren</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/dinerenvoorjeroen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12 en 21 juli om 19:15
                                    <h4 class="subheading">Workshop oude poer maken</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Op zoek naar een mooie decoratie voor in je huis? Die kan je natuurlijk ook gewoon zelf maken! Op 12 én 21 juniworden er workshops oude poer maken georganiseerd. Wat dat is? Zie de afbeelding voor een voorbeeld!
Kosten: €20,- pp.
Aanvang: 19:15
Plaats: Stavenisse, Prins Bernhardstraat 51
Aanmelden kan t/m 5 juli via tel.0166-610439 / 0166-692548 of via Facebook.</p>
                                </div>
                            </div>
                        </li>
</li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/dinerenvoorjeroen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>16 juli
                                    <h4 class="subheading">Fietsen voor Jeroen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FIETSGROEP DE 'S-GRAVOTRAPPERS PRESENTEERT: FIETSEN VOOR JEROEN!

Zijn jullie net als wij enthousiast geworden om een klein steentje bij te dragen aan het mogelijk maken van de operatie van Jeroen? Geef je dan nu op voor de tocht van bijna 140 km ‘Fietsen voor Jeroen’ op D.V. 16 juli 2016!!</p>
                                </div>
                            </div>
</li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/dinerenvoorjeroen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 juli
                                    <h4 class="subheading">Dineren bij Restaurant Katseveer! Enkel nog plaatsen voor de lunch!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Donderdag 7 juli organiseert Restaurant Katseveer een diner waarbij de volledige omzet van de dag bestemd is voor Jeroen van Setten. Een all-in 4-gangen menu voor €100,- p/p. Dit menu kunt u uiteraard nog uitbreiden! De plaatsen voor de avondmaaltijd zijn volgeboekt. U kunt voor deze dag enkel nog voor de lunch reserveren</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/acties/dinerenvoorjeroen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15 juli 
                                    <h4 class="subheading">Lekker bbq'en!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vrijdag 15 juli gaan we lekker barbecueën tbv Een nier voor Jeroen! De barbecue vindt plaats op het terrein bij de TuinKamer/Dier en Verblijf Van der Poel in Kruiningen.

Inloop 18:30, aanvang 19:00 uur.
Kosten voor een volledig verzorgde barbecue incl. 3 consumpties:
€18,50 per volwassene
€9,50 per kind 3 t/m 12 jaar
Graag deze avond gepast contant betalen!

Ook aan de kids wordt gedacht: er is een leuke kinderhoek aanwezig!

Aanmelden kan tot dinsdag 12 juli, via Whatsapp 0610149629 of 0623212279.

Adres: Weihoek 16 - Kruiningen</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Zelf een<br /> actie<br /> opzetten?
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <a href="/contact" class="btn btn-primary">Neem contact met ons</a> op en wij zorgen voor de publiciteit!
                            </div>
                        </li>
                    </ul>
                </div>
                <!--
                Of gewoon zoiets? 
                Geen dubbel gedoe en klaar
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fniervoorjeroen.nl%2F&tabs=events&width=500&height=500&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId=427543087405689" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fniervoorjeroen.nl%2F&tabs=events&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true
                -->
            </div>
        </div>
    </section>

    <!-- Direct doneren Section -->
    <section id="directdoneren" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">U kunt ook direct doneren</h2>
                     <h3 class="section-subheading text-muted">of op een andere manier helpen</h3>
                    <a href="/helpen" class="btn btn-xl">Kijk hier hoe</a>
                </div>
            </div>
        </div>
    </section>

     
    

    {% include footer.html %}

</body>

</html>
