---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Je donatie is gelukt</div>
                <div class="intro-heading">Bedankt!</div>
            </div>
        </div>
    </header>

    <!-- Delen Section -->
    <section id="delen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vraag anderen</h2>
                    <h3 class="section-subheading text-muted">Deel onze berichten, vraag ook anderen te helpen of word donateur!</h3>
                    <p>
                        <a href="#delen" class="page-scroll btn btn-xl">Deel onze berichten</a> <a href="#ambassadeur" class="page-scroll btn btn-xl">Word ambassadeur</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include delen_ambassadeur.html %}

    {% include footer.html %}

</body>

</html>
