---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="contactheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Contact</div>
                <div class="intro-heading">Wilt u meer weten?<br />Of een persbericht krijgen?</div>
                <a href="#contactform" class="page-scroll btn btn-xl">Neem contact met ons op</a>
            </div>
        </div>
    </header>

    <!-- Contact Section -->
    <section id="contactform">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted">U kunt ons bereiken op de volgende manieren</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <a href="mailto:info@niervoorjeroen.nl" target="_blank">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Email</h4>
                        <p class="text-muted">info@niervoorjeroen.nl</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://facebook.com/niervoorjeroen.nl" target="_blank">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Facebook</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://twitter.com/niervoorjeroen" target="_blank">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Twitter</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.linkedin.com/company/stichting-een-nier-voor-jeroen" target="_blank">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">LinkedIn</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Stichting Section -->
    <section id="stichting" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stichting</h2>
                    <h3 class="section-subheading text-muted">We hebben voor deze actie een stichting opgericht</h3>
                    <p>
                        Onze officiële gegevens zijn als volgt
                    </p>
                    <p>
                        <span class='text-primary'>KvK nummer</span><br />
                        65918533
                    </p>
                    <p>
                        <span class='text-primary'>Adres</span><br/>
                        Enden 2<br />
                        4413HE Krabbendijke<br />
                        Nederland
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
