---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Er ging iets fout of je hebt geannuleerd</div>
                <div class="intro-heading">Wil je nog eens proberen?</div>
                <a href="/helpen.html#doneren" class="page-scroll btn btn-xl">Direct doneren</a>
            </div>
        </div>
    </header>

    {% include footer.html %}

</body>

</html>
