---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="helpenheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Helpen</div>
                <div class="intro-heading">U kunt nu helpen door te <a href="#doneren" class="page-scroll">doneren</a>, deze website te <a href="#delen" class="page-scroll">delen</a> en door <a href="#ambassadeur" class="page-scroll">ambassadeur</a> te worden.</div>
                <!--<p>
                    
                </p>-->
                <a href="#doneren" class="page-scroll btn btn-xl">Direct doneren</a>
            </div>
        </div>
    </header>

    {% include doneren.html %}

    {% include delen_ambassadeur.html %}

    {% include footer.html %}

</body>

</html>
