---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Jeroen heeft geen nieren</div>
                <div class="intro-heading">Wij willen hem er één geven</div>
                <div class="progresscontainer">
                    <div class="pull-right" style="line-height: 40px;">
                        € 180.000
                    </div>
                    <div class="progress" style="height: 40px; background-color: rgba(245,245,245,0.6);">
                        <div class="progress-bar" role="progressbar" aria-valuenow="142500" aria-valuemin="0" aria-valuemax="180000" style="width: 92%; height: 40px; line-height: 40px; position: relative;">
                            <div style="position: absolute; right: 20px;">16-7 om 23:00 ></div>
                            € 165.500
                        </div>
                    </div>
                </div>
                <p>
                    &nbsp;
                </p>
                <a href="#jeroen" class="page-scroll btn btn-xl">Wie is Jeroen?</a><span class="spacer">&nbsp;&nbsp;&nbsp;</span><a href="/helpen#doneren" class="page-scroll btn btn-xl">Direct doneren</a>
            </div>
        </div>
    </header>

    <!-- Jeroen Section -->
    <section id="jeroen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jeroen van Setten</h2>
                    <h3 class="section-subheading text-muted">
                        Jeroen is een positieve man van 29 die zijn omgeving een hoop plezier geeft.<br />
                        Hij is getrouwd met Corma, en heeft één dochter, Mirre.<br />
                        Ze wonen met z'n 3en samen in's-Gravenpolder, Zeeland.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/family/jeroen.jpg" class="img-responsive img-circle" alt="">
                        <h4>Jeroen</h4>
                        <p class="text-muted">
                            Heeft nierfalen sinds zijn geboorte<br />
                            <a href="/achtergrond">Lees hier meer achtergrond</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/family/corma.jpg" class="img-responsive img-circle" alt="">
                        <h4>Corma</h4>
                        <p class="text-muted">
                            Sinds 4 jaar getrouwd met Jeroen<br />
                            <a href="/blog">Lees de blog van Corma</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/family/mirre.jpg" class="img-responsive img-circle" alt="">
                        <h4>Mirre</h4>
                        <p class="text-muted">Jeroen en Corma's dochtertje van 1 jaar</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Geen nieren Section -->
    <section id="geennieren" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jeroen heeft geen nieren</h2>
                    <h3 class="section-subheading text-muted">
                        Dat betekent dat zijn lichaam geen gif- en afvalstoffen meer uit het bloed kan filteren<br />
                        <strong>waardoor Jeroen langzaam ‘<span class="text-primary">vergiftigt’</span> en zijn weerstand afneemt.</strong>
                    </h3>
                    <p>
                        Drie keer per week moet Jeroen 4 uur lang in het ziekenhuis dialyseren om zijn bloed te laten ontgiftigen. Daarbij veroudert Jeroens lichaam snel, en is hij altijd moe. Zijn levensverwachting wordt door de dialyse elk jaar met 3 jaar verkort. U zult begrijpen dat deze situatie een grote impact heeft op het leven van Jeroen, Corma en Mirre.
                    </p>
                    <p>
                        Jeroen heeft al sinds zijn geboorte nierfalen en heeft sindsdien al 3 keer een nier-transplantatie gehad: van zijn vader, van zijn opa en van zijn zus. Na elke transplantatie voelde Jeroen zich geweldig. Echter, elke keer werd de nier na verloop van tijd afgestoten. Inmiddels heeft Jeroen bijna 100% antistoffen tegen alle donornieren. Deze uitzichtloze situatie leek de afgelopen jaren het enige waar Jeroen, Corma en Mirre mee moesten rekenen.
                    </p>
                    <p class="text-primary">
                        Tot nu.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Nieuwe Behandeling Section -->
    <section id="behandeling">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nieuwe behandeling</h2>
                    <h3 class="section-subheading text-muted">
                        Het blijkt middels een nieuwe methode mogelijk om Jeroens antistoffen tijdelijk helemaal uit zijn lichaam te filteren.<br />
                        Hierdoor is een transplantatie van een nieuwe nier weer mogelijk!
                    </h3>
                    <!--
                    <div class="team-member">
                        <img src="img/AdmiraalDeRuyter.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    -->
                    <p>
                        Na de behandeling zorgen medicijnen er voor dat nieuwe antistoffen tegen de nier niet worden opgebouwd.<br />
                        Deze methode is al een aantal keer uitgevoerd en heeft voor zover bekend altijd een positief resultaat als gevolg gehad. 
                    </p>
                    <p>
                         <a href="/achtergrond#behandelingvragen">Lees hier meer over de behandeling</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Voortgang Section -->
    <section id="voortgang" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hoe ver we al zijn</h2>
                    <h3 class="section-subheading text-muted">
                        Om Jeroen met deze nieuwe methode eens en voor altijd een nieuwe nier te geven, zijn twee dingen nodig.
                    </h3>
                    <p>
                        Als eerste mensen die <strong class='text-primary'>één van hun nieren</strong> ter beschikking stellen voor transplantatie, en
                        vervolgens <strong class='text-primary'>geld om de behandeling te kunnen betalen</strong>.
                    </p>
                    <p>
                        We zijn erg dankbaar dat drie mensen hun nier beschikbaar hebben gesteld voor Jeroen.
                    </p>
                    <p>
                        De laatste stap is nu het vinden van geld om de behandeling te bekostigen. De behandeling om de antistoffen uit Jeroens lichaam te verwijderen is intensief en gecompliceerd en kost 180.000 euro. Dit is een groot bedrag, dat helaas niet door de verzekering wordt vergoed. Toch geloven we dat dit geld er op korte termijn gaat komen.
                    </p>
                    <p>
                        In het geval van Jeroen is het zaak dat zo snel mogelijk gehandeld wordt, om de schade voor hem zo veel mogelijk te beperken.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Helpen Section -->
    <section id="helpen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Helpen</h2>
                    <h3 class="section-subheading text-muted">
                        Dit is het punt waarop we uw hulp vragen. 
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                         We vragen u om iets van uw inkomsten te doneren. De Stichting Een nier voor Jeroen zal toezien op de inzameling van het bedrag en de verdere afwikkeling om het geld voor de behandeling te gebruiken.
                    </p>
                    <p class="text-primary">
                        We willen u dringend vragen deze oproep niet naast u neer te leggen, maar nu te helpen.<br /> U geeft er daadwerkelijk Jeroen, Corma en Mirre een nieuw leven door!
                    </p>
                    <p>
                        Als u besloten hebt te helpen
                    </p>
                    <p>
                        <a href="/helpen#doneren" class="btn btn-xl">klik om te doneren</a>
                    </p>
                    <p>
                        of als u ons op een andere manier wilt helpen
                    </p>
                    <p>
                        <a href="/helpen" class="btn btn-xl">kijk dan hier hoe</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
