---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Met elkaar haalden we</div>
                <div class="intro-heading">€ 180.000</div>
                <div class="intro-lead-in">
                    op voor een nieuwe nier voor Jeroen!
                </div>
                <p>
                    &nbsp;
                </p>
                <p>
                    <a href="/niervoorjeroen.html" class="page-scroll btn btn-xl">Lees meer over de actie</a>
                    <span class="spacer">&nbsp;&nbsp;&nbsp;</span>
                    <a href="#dank" class="page-scroll btn btn-xl">Lees het dankwoord van Jeroen en Corma</a>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <img src="img/family/corma.jpg" class="img-responsive img-circle" alt="" style="display: inline-block; width: 50px;"> Of lees het hele verloop vanuit de ogen van Corma in <a href='/blog'>haar blog</a>.
                </p>
            </div>
        </div>
    </header>

    <!-- Jeroen Section -->
    <section id="jeroen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jeroen:</h2>
                    <p>
                        Wat is het bijzonder om weer gewoon te kunnen drinken! Elke dag ontdek ik weer iets wat ten goede veranderd is.  De 'vreemde vermoeidheid' die ik altijd voelde is verdwenen. Ik heb andere energie gekregen. Dingen die ik voorheen op mijn wilskracht deed, doe ik nu als vanzelf. Mijn lichaam is veranderd en daardoor zijn sommige dingen me nog onbekend. Ik moet mezelf als het ware opnieuw leren kennen en mijn grenzen in acht leren nemen. Ik ben eigenlijk altijd gewend om over mijn grenzen heen te gaan en nu is het juist verstandig om die goed in acht te nemen. Mijn lichaam moet ook herstellen van drie jaar dialyse en een operatie.
                    </p>
                    <p>
                        Nu moet ik leren om te vertrouwen dat het allemaal werkt, mijn lichaam het aankan en de urineproductie van de nier goed blijft. Ik mag voorlopig nog regelmatig  op controle naar het EMC en dat vind ik wel fijn, omdat ik dan weer te horen krijg hoe de nierfunctie is en ze er dicht op zitten.
                    </p>
                    <p>
                        Het dringt eigenlijk nog niet eens helemaal door wat er allemaal gebeurd is en dat ik nu werkelijk een ander leven heb gekregen! Het is eigenlijk niet uit te leggen en elke dag verbaas en verwonder ik me weer dat mijn leven zo veranderd is. Geen dialyse meer, genieten van de vrijheid die ik heb, en kunnen drinken zoveel ik wil.
                    </p>
                    <p>
                        Ik heb echt een ander leven gekregen en ik wil iedereen die daar op welke manier dan ook aan heeft bijgedragen heel hartelijk danken!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Corma Section -->
    <section id="corma">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Corma:</h2>
                    <div class="blogoverview">
                        {% for post in site.posts %}
                            {% if post.title == 'Leven' %}
                            <div class="blogarticlesummary">
                                <h3><a href="{{ post.url }}">In haar blogpost '{{ post.title }}'</a> <small>({% include datum.html date=post.date %})</small></h3>
                                <p>
                                {{ post.excerpt }}
                                </p>
                                <p>
                                <a href="{{ post.url }}">Lees meer...</a>
                                </p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include footer.html %}

</body>

</html>
