---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="contactheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Materiaal zoals</div>
                <div class="intro-heading">Foto's, logo's en tekst</div>
            </div>
        </div>
    </header>

    <!-- Licentie Section -->
    <section id="licentie">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hoe te gebruiken?</h2>
                    <h3 class="section-subheading text-muted">Onderstaand materiaal mag gebruikt worden om de actie "Een nier voor Jeroen" te promoten</h3>
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons-Licentie" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                    </p>
                    <p>
                        Dit materiaal van <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Stichting een nier voor Jeroen</span> valt onder een<br />
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Naamsvermelding-NietCommercieel-GelijkDelen 4.0 Internationaal-licentie</a>
                    </p>
                    <p>
                        Belangrijk voor ons is dat het materiaal niet commercieel gebruikt wordt, <br />
                        en dat duidelijk is dat "Stichting een nier voor Jeroen" de copyrighthouder is van het materiaal. 
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Logos Section -->
    <section id="logos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Logo's</h2>
                    <h3 class="section-subheading text-muted">De logo's in verschillende varianten zijn als volgt</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="/marketingmateriaal/logos/logo_met_tekst.png" class="img-responsive"/>
                </div>
                <div class="col-sm-6">
                    <img src="/marketingmateriaal/logos/logo_met_tekst_omgekeerd.png" class="img-responsive"/>
                </div>
                <p>
                    &nbsp;
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/marketingmateriaal/logos/logo_rood.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                    <img src="/marketingmateriaal/logos/logo_wit.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                    <img src="/marketingmateriaal/logos/logo_wit_op_rood.png" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>

    <!-- Fotos Section -->
    <section id="fotos" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Foto's</h2>
                    <h3 class="section-subheading text-muted">Foto's van Jeroen, Corma en Mirre</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="/marketingmateriaal/fotos/MirreCormaJeroenOpFiets.JPG" class="img-responsive"/>
                </div>
                <div class="col-sm-6">
                    <img src="/marketingmateriaal/fotos/JeroenMirreCorma.JPG" class="img-responsive"/>
                </div>
                <p>
                    &nbsp;
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="/marketingmateriaal/fotos/Jeroen.JPG" class="img-responsive"/>
                </div>
                <div class="col-sm-6">
                    <img src="/marketingmateriaal/fotos/Ziekenhuis.JPG" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>

    <!-- Fotos Section -->
    <section id="gezichten">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gezichten</h2>
                    <h3 class="section-subheading text-muted">Van Jeroen, Corma en Mirre</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/marketingmateriaal/fotos/gezichten/jeroen.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                    <img src="/marketingmateriaal/fotos/gezichten/corma.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                    <img src="/marketingmateriaal/fotos/gezichten/mirre.png" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>

    <!-- Teksten Section -->
    <section id="teksten" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teksten</h2>
                    <h3 class="section-subheading text-muted">U bent uiteraard vrij om over "Een nier voor Jeroen" te schrijven</h3>
                    <p>
                        Een korte tekst die de situatie kernachtige weergeeft zou bijvoorbeeld deze kunnen zijn:
                    </p>
                    <p>
                        Jeroen heeft geen nieren. Hij heeft 3 transplantaties gehad, maar na korte of langere periode zijn deze nieren steeds afgestoten.
                    </p>
                    <p>
                        Door de opgebouwde antistofften in Jeroen was een nieuwe transplantatie tot voor kort onmogelijk.
                    </p>
                    <p>
                        Tot nu. Middels een nieuwe behandelmethode kan Jeroen toch een nieuwe nier krijgen! Deze behandeling kost echter 180.000 euro, en wordt niet door de verzekering vergoed. 
                    </p>
                    <p>
                        De 'Stichting een nier voor Jeroen' zet zich in om dit bedrag tóch bij elkaar te halen en Jeroen met nieuwe nier een 'nieuw leven'' te geven!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Lettertype Section -->
    <section id="lettertype">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lettertype</h2>
                    <h3 class="section-subheading text-muted">Het lettertype dat we gebruiken is Montserrat</h3>
                    <p>
                        Dit lettertype is te vinden op verschillende sites en wordt verspreid onder de OFL licentie. Zie bijvoorbeeld <a href="https://github.com/google/fonts/tree/master/ofl/montserrat">hier</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
