---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">De actie Een nier voor Jeroen begon in de</div>
                <div class="intro-heading">zomer 2016</div>
                <a href="#jeroen" class="page-scroll btn btn-xl">Want wie is Jeroen?</a>
            </div>
        </div>
    </header>

    <!-- Jeroen Section -->
    <section id="jeroen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jeroen van Setten</h2>
                    <h3 class="section-subheading text-muted">
                        Jeroen is een positieve man van (toen nog) 29 jaar die zijn omgeving een hoop plezier geeft.<br />
                        Hij is getrouwd met Corma, en heeft in 2016 één dochter, Mirre.<br />
                        Ze wonen met z'n 3en samen in's-Gravenpolder, Zeeland.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/family/jeroen.jpg" class="img-responsive img-circle" alt="">
                        <h4>Jeroen</h4>
                        <p class="text-muted">
                            Heeft nierfalen sinds zijn geboorte<br />
                            <a href="/achtergrond">Lees hier meer achtergrond</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/family/corma.jpg" class="img-responsive img-circle" alt="">
                        <h4>Corma</h4>
                        <p class="text-muted">
                            Toen sinds 4 jaar getrouwd met Jeroen<br />
                            <a href="/blog">Lees de blog van Corma</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/family/mirre.jpg" class="img-responsive img-circle" alt="">
                        <h4>Mirre</h4>
                        <p class="text-muted">Jeroen en Corma's dochtertje van 1 jaar</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Geen nieren Section -->
    <section id="geennieren" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jeroen heeft geen nieren</h2>
                    <h3 class="section-subheading text-muted">
                        Dat betekent dat zijn lichaam geen gif- en afvalstoffen meer uit het bloed kan filteren<br />
                        <strong>waardoor Jeroen langzaam ‘<span class="text-primary">vergiftigt’</span> en zijn weerstand afneemt.</strong>
                    </h3>
                    <p>
                        Drie keer per week moet Jeroen 4 uur lang in het ziekenhuis dialyseren om zijn bloed te laten ontgiftigen. Daarbij veroudert Jeroens lichaam snel, en is hij altijd moe. Zijn levensverwachting wordt door de dialyse elk jaar met 3 jaar verkort. U zult begrijpen dat deze situatie een grote impact heeft op het leven van Jeroen, Corma en Mirre.
                    </p>
                    <p>
                        Jeroen heeft al sinds zijn geboorte nierfalen en heeft sindsdien al 3 keer een nier-transplantatie gehad: van zijn vader, van zijn opa en van zijn zus. Na elke transplantatie voelde Jeroen zich geweldig. Echter, elke keer werd de nier na verloop van tijd afgestoten. Inmiddels heeft Jeroen bijna 100% antistoffen tegen alle donornieren. Deze uitzichtloze situatie leek de afgelopen jaren het enige waar Jeroen, Corma en Mirre mee moesten rekenen.
                    </p>
                    <p class="text-primary">
                        Totdat.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Nieuwe Behandeling Section -->
    <section id="behandeling">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nieuwe behandeling</h2>
                    <h3 class="section-subheading text-muted">
                        Het blijkt middels een nieuwe methode mogelijk om Jeroens antistoffen tijdelijk helemaal uit zijn lichaam te filteren.<br />
                        Hierdoor is een transplantatie van een nieuwe nier weer mogelijk!
                    </h3>
                    <!--
                    <div class="team-member">
                        <img src="img/AdmiraalDeRuyter.jpg" class="img-responsive img-circle" alt="">
                    </div>
                    -->
                    <p>
                        Na de behandeling zorgen medicijnen er voor dat nieuwe antistoffen tegen de nier niet worden opgebouwd.<br />
                        Deze methode is al een aantal keer uitgevoerd en heeft voor zover bekend altijd een positief resultaat als gevolg gehad. 
                    </p>
                    <p>
                         <a href="/achtergrond#behandelingvragen">Lees hier meer over de behandeling</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Voortgang Section -->
    <section id="voortgang" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wat er nog nodig was</h2>
                    <h3 class="section-subheading text-muted">
                        Om Jeroen met deze nieuwe methode eens en voor altijd een nieuwe nier te geven, waren twee dingen nodig.
                    </h3>
                    <p>
                        Als eerste mensen die <strong class='text-primary'>één van hun nieren</strong> ter beschikking stellen voor transplantatie, en
                        vervolgens <strong class='text-primary'>geld om de behandeling te kunnen betalen</strong>.
                    </p>
                    <p>
                        We zijn erg dankbaar dat drie mensen hun nier beschikbaar hebben gesteld voor Jeroen.
                    </p>
                    <p>
                        De tweede stap was het vinden van geld om de behandeling te bekostigen. De behandeling om de antistoffen uit Jeroens lichaam te verwijderen is intensief en gecompliceerd en kost 180.000 euro. Dit is een groot bedrag, dat helaas niet door de verzekering wordt vergoed. Toch geloofen we dat dit geld er op korte termijn ging komen.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Verder Section -->
    <section id="verder">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">De actie</h2>
                    <h3 class="section-subheading text-muted">
                        We startten een actie om geld in te zamelen
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-primary">
                        De eerste avond al haalden we duizend euro op. Maar we wisten toen nog niet hoe hard het zou gaan.
                    </p>
                    <p>
                        De dagen en weken daarna werd het gekker en gekker.
                    </p>
                    <p>
                        Het aantal <a href='https://www.facebook.com/niervoorjeroen.nl'>facebook</a> likes ging van 0 naar bijna 4000. Jeroen kwam in kranten, in tijdschriften, op tv.<br />
                        De website en <a href='/blog'>Corma's blog</a> werden meer dan 100.000 keer bekeken.<br />
                        Er werden spontaan <a href='/acties'>acties</a> opgezet: van een school tot een kapper en restaurant, verkopingen, zangavonden, sponsortochten, barbecues. 
                    </p>
                    <p>
                        En toen opeens <a href='/2016/07/25/We-zijn-er.html'>waren we er</a>. Het geld was binnen.<br />
                        Na nog geen 6 weken hadden we 180.000 euro bij elkaar. Dat is een ongelooflijke 5.000 euro per dag!
                    </p>
                    <p>
                        We zijn iedereen onbeschrijflijk dankbaar dat de benodigde 180.000 euro zo snel binnen is gehaald!
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Verder Section -->
    <section id="verder" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">De transplantatie</h2>
                    <h3 class="section-subheading text-muted">
                        Alles was er nu klaar voor: de transplantatie kon worden gepland
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-primary">
                        Op 12 oktober 2016 is er een eerste gesprek in het ziekenhuis geweest om het vervolgtraject door te spreken.
                    </p>
                    <p>
                        Bij dit gesprek waren Jeroen, zijn vader en zijn oom aanwezig. De arts gaf een verdere toelichting hoe het proces van filtering er uit zou zien en welke voorbereidende zaken er plaats zouden vinden.
                    </p>
                    <p>
                        Twee maanden later was er goed nieuws te melden! <br />
                            Begin februari 2017 zou Jeroen getransplanteerd worden.<br />
                            <a href='/2017/01/17/Het-is-zover.html'>Voor Jeroen en Corma was dat een ongelooflijk moment. Er was weer hoop.</a>
                    </p>
                    <p>
                        Een week voor de transplantatie startte de behandeling, waarbij zoveel mogelijk antistoffen gefilterd werden.<br />
                        Aansluitend daarop vond de transplantatie plaats.<br />
                        Na alle onderzoeken was er één donor overgebleven die zijn nier aan Jeroen heeft afgestaan.<br />
                    </p>
                    <p>
                        De periode na de transplantatie was en is een spannende tijd.<br />
                        <a href='/2017/02/07/Wat-een-week.html'>Jeroen en Corma konden genieten van schitterende toppen maar moesten soms ook door dalen.</a><br />
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Leven Section -->
    <section id="leven">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Een nieuw leven</h2>
                    <h3 class="section-subheading text-muted">
                        Na de transplantatie blijkt: het leven is oprecht anders geworden!
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-primary">
                        Ondanks spanning en zelfs meerdere ziekenhuisopnames blijkt toch steeds weer: de nier werkt erg goed!
                    </p>
                    <p>
                        Jeroen en Corma zijn ontzettend dankbaar voor iedereen die mee heeft geleefd.<br />
                        Het mag goed gaan.<br />
                        <a href='/'>In hun laatste bericht onderstrepen ze dat nogmaals.</a>
                    </p>
                    <p>
                        Ook vanuit de stichting zijn we, nog steeds, onder de indruk van de vrijgevigheid, steun, meeleven en gebeden van de duizenden mensen die betrokken waren! Dank!
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
