---
---
<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header class="mainheader">
        <div class="backgroundmask"></div>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Zaterdag 23 juli</div>
                <div class="intro-heading">Zomerfair</div>
                
                <a href="#algemeen" class="page-scroll btn btn-xl">Programma</a>
                <span class="spacer">&nbsp;&nbsp;&nbsp;</span>
                <a href="#hightea" class="page-scroll btn btn-xl">High Tea</a>
                <span class="spacer">&nbsp;&nbsp;&nbsp;</span>
                <a href="#veiling" class="page-scroll btn btn-xl">Opbodveiling</a>
            </div>
        </div>
    </header>

    <section id="algemeen">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Zomerfair voor Jeroen</h2>
                    <h3 class="section-subheading text-muted">Op zaterdag 23 juli</h3>
                    <p>
                        “Jeroen heeft geen nieren. Dat betekent dat zijn lichaam geen gif- en afvalstoffen meer uit het bloed kan filteren waardoor Jeroen langzaam ‘vergiftigt’ en zijn weerstand afneemt.”
                    </p>
                    <p>
                        Zo begint Jeroen zijn verhaal op deze website. Na drie donornieren afgestoten te hebben, bleek dat Jeroen  bijna 100% antistoffen tegen alle donornieren heeft. Hier is een behandeling voor. 180.000 euro kost het, en het wordt niet vergoedt… Een stichting werd opgericht en door middel van bijvoorbeeld acties wordt er geld ingezameld in de hoop dat Jeroen deze behandeling kan ondergaan.
                    </p>
                    <p>
                        Het verhaal over Jeroen raakte ons zo diep dat we vonden dat er een actie verzonnen moest worden. En zo kwam het idee om een marktje te houden. Na een paar telefoontjes gepleegd te hebben, bleek het zeer enthousiast ontvangen te worden. De mensen gingen zelf bellen of ze mochten komen staan, en of ze iets konden betekenen? Het marktje werd als snel een Zomerfair. Zomerfair voor Jeroen.
                    </p>
                    <p>
                        Donaties die ontvangen werden, zorgden dat de organisatie zowat elke dag vol verwondering was. Zoveel mooie gebaren….
                        Er werden ook mooie prijzen geschonken, zodoende wordt er een opbodveiling gehouden. Deze zal geleid worden door Leo Marijs en Izak Heijboer. De toppers van de veiling zijn toch zeker de twee vakantiebungalows en een rondvlucht over Zeeland voor drie personen. Maar ook de andere prijzen zijn zeker de moeite waard. De veiling wordt tweemaal gehouden. In de ochtend om 11.45 uur en in de middag om 14.30 uur. 
                    </p>
                    <p>
                        Tussen de veilingen door kan men aan de inwendige mens denken. Er wordt een eetpleintje gecreëerd met tafeltjes en stoelen. Een leuk moment om even rustig te zitten, te praten met bekenden. Zeker onder het genot van iets lekkers! Heerlijke mosselen worden door Jan de Mosselman te plekke klaargemaakt. Maar ook frietjes, ijs, suikerspinnen  en smoothies kunnen genuttigd worden.  Koffie,  thee of fris, samen met een appelflap of een bolus. Ook deze lekkernijen worden gesponsord. 
                    </p>
                    <p>
                        Aan de kinderen wordt ook gedacht. Er is een springkussen en er kan op pony’s gereden worden. Voor de wat oudere kinderen is er een grote sjoelbak en een klimpaal met prijzen.
                        Er kan leuke vlechtjes met kraaltje in het haar maken en er is ook een leuke workshop tassenhangers maken. En nog veel meer. Sieraden, eigen gemaakte kaarten, kaarsen, er is echt van alles te vinden op deze fair!
                    </p>
                    <p>
                        Maar houdt u meer van dieren: wanneer de pony’s even moeten rusten, wordt er een hondenshow gegeven. Dit gebeurd op het plantsoentje. Het is leuk om te zien hoe enthousiast de honden te werk gaan voor hun baasje.  Kleinvee staat er ook. Wellicht leuk om daar mee op de foto te gaan? Want er zijn ook twee fotografen. Foto’s worden gemaakt van het wandelende publiek, maar er is ook de mogelijkheid om voor portretfotografie te kiezen. Er loopt een dame rond in echt Thools klederdracht, met haar kunt u ook op de foto. De foto’s kunt u later thuis bekijken op de computer en bestellen. En ook deze opbrengst gaat geheel naar de Stichting Nier voor Jeroen.
                    </p>
                    <p>
                        Heeft u nog veel oude cd’s (koormuziek, orgelmuziek, instrumentale muziek en klassieke muziek) in de kast staan waar u niets mee doet en een goede bestemming voor wilt geven? Doneer ze voor de Zomerfair. De gehele opbrengst van deze cd’s gaat ook naar de stichting. U kunt ze inleveren tot 22 juli 2016 in bij: Boekuus van de Wege: Lavendelstraat 5; • Frank en Corma de Kok: Schuitweg 9. Deze cd’s worden weer aangeboden voor nieuwe eigenaren.
                    </p>
                    <p>
                        En heeft u hierbij ook nog zin in een echte high tea, is dat zeker mogelijk. Er wordt drie keer geserveerd, om 11.30, 12.30 en om 13.30 uur. Scones, sandwiches en zoetigheden te samen met heerlijke thee; een waar genietmomentje! U moet zich hiervoor wel aanmelden. Dat kan bij jhoekman@zeelandnet.nl of via 0113 311 263. 
                    </p>
                    <p>
                        Zomerfair voor Jeroen: gezelligheid en zeker de moeite waard.
                        100% van de opbrengst van de fair gaat naar de stichting, daarom is het zelfs meer dan de moeite waard! Laten we met zijn allen zorgen dat Jeroen de behandeling kan ondergaan. 
                    </p>
                    <p>
                        De zomerfair wordt gehouden op zaterdag 23 juli van 10.00 tot 15.00 uur. Deze vindt plaats op het Bedrijventerrein KeukenPlus, Spoorstraat 18c ’s-Gravenpolder. Voor meer informatie kunt u bellen naar 06 53314189 .
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="hightea" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">High Tea</h2>
                    <h3 class="section-subheading text-muted">Gelimiteerde plaatsen: aanmelden kan tot 20 juli!</h3>
                    <p>
                        <img src="img/acties/fair_hightea.png"/>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="veiling">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Opbodveiling</h2>
                    <a href="#toppers" class="page-scroll btn btn-primary">Ga direct naar de toppers</a>
                    <h3 class="section-subheading text-muted">Zorg dat je hem niet mist! Er is een veiling om 11.45 uur en de laatste om 13.30 uur.</h3>
                    <p>
                        Brommertheoriecursus<br />
                        Autotheoriecursus<br />
                        Leren tas	<br />
                        Overhemd, op maat gemaakt<br />
                        Reiniging woning<br />
                        Werkstuk / meubelstuk<br />
                        Barbecue-schotel <br />
                        Barbecue	Donatie<br />
                        2 x bon knipuus<br />
                        Siemens stofzuiger	<br />
                        Pan/Kippie<br />
                        Onderhoudsbeurt	<br />
                        Onderhoudsbeurt	<br />
                        Fles wijn + BBQsaladeschotel voor 6 pers<br />
                        Dinerbon voor 2 personen	<br />
                        Dinerbon voor 1 persoon	<br />
                        Vouwgordijn op maat gemaakt 	<br />
                        2 uur huishoudelijke hulp <br />
                        Avond oppassen	<br />
                        Avond oppassen<br />
                        Dinerbon voor 2 personen <br />
                        Skelter 	<br />
                        Dartbord	<br />
                        Hapjes van Hapjesfeest	<br />
                        Kortingsbon<br />
                        Fotoshoot	<br />
                        Koffer	<br />
                        Rugzak<br />
                        Industriele lamp<br />
                    </p>
                    <p class='text-primary' id='toppers'>
                        De toppers van de veiling zijn:
                    </p>
                    <p>
                        Vakantiebungalow in week 34<br />
                        Vakantiebungalow in Voorhuizen <br />
                        Rondvlucht over Zeeland voor 3 personen.<br />
                        Overnachting + ontbijt in Vrouwenpolder voor 2 personen
                    </p>
                    <img src="/img/acties/zomerfair_toppers.jpg" class="img-responsive" style="margin: 0px auto;" />
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
